<!DOCTYPE html>
<html lang="pl">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Biblioteka</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" lang="pl" content="Strona do zarządzania biblioteczką">
    <meta name="author" content="Agnieszka Szabała">
    <meta name="robots" content="index, follow">

    <!-- icons -->
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Bootstrap Core CSS file -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Override CSS file - add your own CSS rules -->
    <link rel="stylesheet" href="/css/styles.css">

    <!-- Conditional comment containing JS files for IE6 - 8 -->
    <!--[if lt IE 9]>
    <script src="/js/html5.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- Navigation -->
<!-- Navigation -->
<span th:include="menu :: gora"></span>








<!-- Page Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header"><h1>Biblioteczka  - zapisz wypożyczenia swoich książek</h1></div>
        </div>
    </div>


    <!-- /.row -->

    <div class="row">
        <div class="col-sm-8">

            <!-- Image -->
            <figure class="margin-b-2">
                <img class="img-responsive" src="/img/books1s.jpg" alt="">
                <figcaption class="margin-t-h"></figcaption>
            </figure>
            <hr>

            <!--  książki -->

            <h3>Dodaj nową książkę</h3>

            <div class="well">
                <form action="/addb" method="post" th:object="${newBook}">
                    <input th:name="idb" th:value="${idb}" type="hidden"/>
                    <div class="form-group">
                        <label for="author">Autor</label>
                        <input th:field="*{author}"  type="text" class="form-control" id="author" placeholder="Wpisz autora">
                    </div>
                    <div class="form-group">
                        <label for="title">Tytuł </label>
                        <input th:field="*{title}" type="text" class="form-control" id="title" placeholder="Wpisz tytuł">
                    </div>
                    <div class="form-group">
                    <label for="publisher">Wydawnictwo </label>
                    <input th:field="*{publisher}" type="text" class="form-control" id="publisher" placeholder="Wydawnictwo">
                </div>
                    <div class="form-group">
                        <label for="rokpublikacji">Rok publikacji </label>
                        <input  th:field="*{publicationYear}" type="text" class="form-control" id="rokpublikacji" placeholder="Wpisz rok publikacji">
                    </div>
                    <div class="form-group">
                        <label for="category">Gatunek</label>
                        <input  th:field="*{category}" type="text" class="form-control" id="category" placeholder="Gatunek">
                    </div>

                    <div class="form-group">
                        <label for="description">Krótki opis</label>
                        <textarea  th:field="*{description}" class="form-control" id="description"></textarea>
                    </div>
                    <p style="text-align: right"><button class="btn btn-sm btn-default" type="submit">
                        <span class="glyphicon glyphicon-saved"></span> Zapisz </button></p>

                </form>
            </div>

            <hr>

        </div>



        <div class="col-sm-4">
            <!-- Search -->
            <span th:include="menu :: search" ></span>


            <!-- list group -->
            <span th:include="menu :: category" ></span>


            <!-- Panel -->
            <span th:include="menu :: panel" ></span>

            <span th:include="menu :: panel" ></span>



        </div>
    </div>
    <!-- /.row -->

    <hr>
    <span th:include="menu :: footer" ></span>
</div>
<!-- /.container-fluid -->

<!-- JQuery scripts -->
<script src="/js/jquery-1.11.2.min.js"></script>

<!-- Bootstrap Core scripts -->
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
