<!-- MENU górne -->

<span th:fragment="gora">
<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand" href="/">Biblioteczka</a></div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/books">Wykaz książek</a></li>
                <li><a href="/people">Ludzie</a></li>
                <li><a href="#">Opcja menu</a></li>
            </ul>

 <div>
     </div>

 </nav>
</span>




 <!-- WYSZUKIWANIE -->

<span th:fragment="search">
<div >
             <div class="well">
                 <h4 class="margin-t-0">Szukaj książki po tytule:</h4>
                 <form action="/searchtitle">
                     <div class="input-group">
                         <label class="sr-only" for="title">Tytuł</label>
                         <input type="text" class="form-control" id="title" name="title">

                         <span class="input-group-btn">
 									<button class="btn btn-default" type="submit">
 										<span class="glyphicon glyphicon-search"></span>
 										<span class="sr-only">Search</span>
 									</button>
 								</span>
                     </div>
                 </form>
                 <br>

                  <h4 class="margin-t-0">Szukaj książki po autorze:</h4>
                                  <form action="/searchauthor">
                                      <div class="input-group">
                                          <label class="sr-only" for="author" name="author">Autor</label>
                                          <input type="text" class="form-control" id="author">
                                          <span class="input-group-btn">
                  									<button class="btn btn-default" type="submit">
                  										<span class="glyphicon glyphicon-search"></span>
                  										<span class="sr-only">Search</span>
                  									</button>
                  								</span>
                                      </div>
                                  </form>
             </div>

</div>
</span>

 <!-- WYSZUKIWANIE OSÓB -->

<span th:fragment="searchPeople">
<div >
             <div class="well">
                 <h4 class="margin-t-0">Wyszukaj osobę po nazwisku:</h4>
                 <form action="/searchperson">
                     <div class="input-group">
                         <label class="sr-only" for="fname">Nazwisko</label>
                         <input type="text" class="form-control" id="fname" name="fname">
                         <span class="input-group-btn">
 									<button class="btn btn-default" type="submit">
 										<span class="glyphicon glyphicon-search"></span>
 										<span class="sr-only">Search</span>
 									</button>
 								</span>
                     </div>
                 </form>

             </div>

</div>
</span>


 <!-- KATEGORIE -->

<span th:fragment="category">
<div class="list-group margin-b-3" >
                <a href="#" class="active list-group-item">Pokaż książki z kategorii:</a>

                <a th:each="cat:${categories}" th:href="'/bookcategory?cathegory='+${cat}" class="list-group-item"  th:text="${cat}"></a>

            </div>
</span>







 <!-- PANEL z tekstem -->

<span th:fragment="panel">
 <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Sidebar panel widget</h4>
                </div>
                <div class="panel-body">
                    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>

</span>

 <!-- FOOTER -->

<span th:fragment="footer">
<footer class="margin-tb-3">
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Netino 2018</p>
            </div>
        </div>
    </footer>
    </span>