<!-- MENU górne -->

<span th:fragment="gora">
<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand" href="/">Biblioteczka</a></div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/books">Wykaz książek</a></li>
                <li><a href="/people">Ludzie</a></li>
                <li><a href="/borroweds?time=2">Wypożyczenia</a></li>
                <li><a href="/admin">Panel administracyjny</a></li>
            </ul>

 <div>
     </div>

 </nav>
</span>




 <!-- WYSZUKIWANIE -->

<span th:fragment="search">
<div >
             <div class="well">
                 <h4 class="margin-t-0">Szukaj książki po tytule:</h4>
                 <form action="/searchtitle">
                     <div class="input-group">
                         <label class="sr-only" for="title">Tytuł</label>
                         <input type="text" class="form-control" id="title" name="title">

                         <span class="input-group-btn">
 									<button class="btn btn-default" type="submit">
 										<span class="glyphicon glyphicon-search"></span>
 										<span class="sr-only">Search</span>
 									</button>
 								</span>
                     </div>
                 </form>
                 <br>

                  <h4 class="margin-t-0">Szukaj książki po autorze:</h4>
                                  <form action="/searchauthor">
                                      <div class="input-group">
                                          <label class="sr-only" for="author" >Autor</label>
                                          <input type="text" class="form-control" id="author" name="author">
                                          <span class="input-group-btn">
                  									<button class="btn btn-default" type="submit">
                  										<span class="glyphicon glyphicon-search"></span>
                  										<span class="sr-only">Search</span>
                  									</button>
                  								</span>
                                      </div>
                                  </form>
             </div>

</div>
</span>

 <!-- WYSZUKIWANIE OSÓB -->

<span th:fragment="searchPeople">
<div >
             <div class="well">
                 <h4 class="margin-t-0">Wyszukaj osobę po nazwisku:</h4>
                 <form action="/searchpersonlast">
                     <div class="input-group">
                         <label class="sr-only" for="lname">Nazwisko</label>
                         <input type="text" class="form-control" id="lname" name="lname">
                         <span class="input-group-btn">
 									<button class="btn btn-default" type="submit">
 										<span class="glyphicon glyphicon-search"></span>
 										<span class="sr-only">Search</span>
 									</button>
 								</span>
                     </div>
                 </form>

                  <h4 class="margin-t-0">Wyszukaj osobę po imieniu:</h4>
                                  <form action="/searchpersonfirst">
                                      <div class="input-group">
                                          <label class="sr-only" for="fname">Imię</label>
                                          <input type="text" class="form-control" id="fname" name="fname">
                                          <span class="input-group-btn">
                  									<button class="btn btn-default" type="submit">
                  										<span class="glyphicon glyphicon-search"></span>
                  										<span class="sr-only">Search</span>
                  									</button>
                  								</span>
                                      </div>
                                  </form>

             </div>

</div>
</span>


 <!-- KATEGORIE -->

<span th:fragment="category">
<div class="list-group margin-b-3" >
                <a href="#" class="active list-group-item">Pokaż książki z kategorii:</a>

                <a th:each="cat:${categories}" th:href="'/bookcategory?cathegory='+${cat.getIdc()}" class="list-group-item"  th:text="${cat}"></a>

            </div>
</span>


 <!-- WYPOŻYCZENIA BOK -->

<span th:fragment="borroweds">
<div class="list-group margin-b-3" >
                <a href="#" class="active list-group-item">Pokaż wypożyczenia:</a>
                <a th:href="'/borroweds?time=2'" class="list-group-item"  th:text="'wszystkie'"></a>  <!-- time 1 znaczy bieżące, poniżej miesiąca -->
                <a th:href="'/borroweds?time=1'" class="list-group-item"  th:text="'z ostatniego miesiąca'"></a>  <!-- time 1 znaczy bieżące, poniżej miesiąca -->
                <a th:href="'/borroweds?time=0'" class="list-group-item"  th:text="'starsze niż miesiąc'"></a>    <!--  time 0 znaczy przetrzymane -->
            </div>
</span>


<!-- PANEL ->> ADMIN -->

<span th:fragment="admin">
<div class="list-group margin-b-3" >
                <a href="#" class="active list-group-item"></a>
                <a th:href="'/books?ad=1'" class="list-group-item"  th:text="'edycja książek'"></a>  <!-- ad=1 zmienna przekazująca aktywność przycisków edycji  -->
                <a th:href="'/people?ad=1'" class="list-group-item"  th:text="'edycja ludzi'"></a>
                <a th:href="'/borroweds?ad=1&time=2'" class="list-group-item"  th:text="'wypożyczenia/zwroty'"></a>
            </div>
</span>


 <!-- PANEL z tekstem -->

<span th:fragment="panel">
 <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Standardowy fragment Lorem Ipsum</h4>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>

</span>

 <!-- FOOTER -->

<span th:fragment="footer">
<footer class="margin-tb-3">
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Netino 2018</p>
            </div>
        </div>
    </footer>
    </span>


   <!-- RETURN -->
    <span th:fragment="return">
     <p style="display: inline; float: right; margin-bottom: 10px;">
                    <a  href="javascript:history.back()"><button class="btn btn-sm btn-default"><span class="glyphicon glyphicon-hand-left"></span> Poprzednia strona</button></a></p>
</span>